@model List<ZkConstruction.Models.Company>
@{
    ViewData["Title"] = "Index";
    int sr = 0;
}
<div class="content-wrapper">

    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="main-header">
            </div>
            <div id="mydiv" class="col-md-3">
                <p class="bg-success text-center">@TempData["update"]</p>
                <p class="bg-danger text-center">@TempData["Delete"]</p>
            </div>
        </div>
        <div class="col-lg-12">
            <a asp-action="Create" asp-controller="Company" class="btn btn-skype offset-lg-10"><i class="fa fa-plus"></i>Create New</a>
            <div class="card" style="margin-top:20px">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text"><u>Company Tables</u></h5>
                            </div>
                            <div class="card-block">
                                <table id="advanced-table" class="table dt-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sr#</th>
                                            <th>Company Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Sr#</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        @foreach (var lst in Model)
                                        {
                                            <tr>
                                                <td>@{sr++;}@sr</td>
                                                <td>@lst.Name</td>
                                                <td style="width:30px; text-align:center;">
                                                    <a href="@Url.Action("Edit", new { id = lst.id })" class="badge badge-primary" data-toggle="tooltip" data-placement="left" title="Click Me To Edit"><i class="fa fa-pencil"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main content ends -->
    <!-- Container-fluid ends -->
</div>
<script>
    $('.chosen-select').chosen();
    setTimeout(function () {
        $('#mydiv').fadeOut('fast');
    }, 3000); // <-- time in milliseconds
</script>